.big_text
  While we build your timeline, why don't you watch this classic film about friendship and coming of age in the early 1960s
%iframe{:width=>"640", :height=>"480", :src=>"http://www.youtube.com/v/96Ze9T40gqg&autoplay=1", :frameborder=>"0"}

%input#init-data{type: 'hidden', value: raw(@initData.to_s)}