- content_for :scripts do
  = javascript_include_tag "timeline"

#timeline

.extra_space
  - if current_user && current_user == @user
    #reconnect
    .big_text
      Share this page with your people
      %br
      = link_to image_tag('twitter.png'), @tweet_url, :target => "_blank"
#init-data(data-all=@initData)
