#meta{:data => {:page => 'show'}}

#timeline
#future
%input#init-data{type: 'hidden', value: raw(@initData.to_s)}

#controls_container
  .control.zoom_button{data: {zoom: 'in'}}
    = '-'
  .control.zoom_button{data: {zoom: 'out'}}
    +
    
#info
#hovercard{:style => 'display:none;'}
#private_message.message
  This page is now private
#public_message.message
  This page is now public. Share it!
  = render '/extras/twitter_button'
%script{:type => "text/template", :id => "hovercardTemplate"}
  .place
    <%= venue_name %>
  .date
    <%= date %>
    <%= time %>
  <% if (shout) { %>
  .shout
    "<%= shout %>"
  <% } %>
  .friends
    <%= friends %>