body {
  font-family: Helvetica, Arial, sans-serif;
  min-width: 500px;
  min-height: 500px;
  height: 100%;
  margin:0px;
  text-align: center;
}
/* TODO: use compass or otherwise make it work for other browsers */
#nav {
  height: 30px;
  width: 100%;
  background: #dcdcdc;
  position: fixed;
  font-size: 14px;
  z-index: 100;
  opacity: 0.2;
  -webkit-transition-property:opacity;
  -webkit-transition-duration: 700ms;
  -webkit-transition-timing-function: linear;
}

#nav:hover {
  opacity: 1;
}

.nav_button {
  float: right;
  margin-right: 50px;
  cursor: pointer;
}

.friend:hover {
  cursor: pointer;
}
.overlap {
  cursor: pointer;
}
#controls_container {
  position: fixed;
  right: 90px;
  top: 60px;
  z-index: 100;
}
.control {
  float:left;
  background: #cccccc;
  padding: 5px 15px 5px 15px;
  margin: 10px;
  cursor: pointer;
}
#paper {
  position: absolute;
  z-index: 10;
  top: 0;
}
#home {
  width: 100%;
  min-height: 900px;
  height: 100%;
  background: url('/assets/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
}
.headline {
  position: fixed;
  font-size: 30px;
  top: 70%;
  left: 40%;
}
#future {
  height: 500px;
}
.month_name {
  font-size: 90px;
  float:left;
  margin-left: 100px;
  opacity: .05;
}
.month_year {
  font-size: 90px;
  float:right;
  margin-right: 100px;
  opacity: .05;
}
#info {
  position: absolute;
  z-index: 100;
}
#hovercard {
  background: #cccccc;
  padding: 8px;
  border-radius: 10px;
  position: absolute;
  z-index: 100;
  max-width: 300px;
}

.message {
  display: none;
  position: fixed;
  background: #cccccc;
  z-index: 100;
  padding: 8px;
  border-radius: 10px;
}

.place {
  font-weight: bold;
  font-size: 20px;
}

.shout {
  margin-top: 8px;
  margin-bottom: 8px;
  font-style: italic;
}

.friends {
  font-size: 12px;
}