@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/background-size";
$blue: #47bad9;

// nav
.nav {
  position: fixed;
  right: 0px;
  top: 0px;
}

.nav-button {
  line-height: 30px;
  width: 90px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  img {
    margin-bottom: -5px;
  }

  &.login {
    width: 350px;
    background: linear-gradient(to right, #ffbc73 , #ff846e);
    &:hover {
      background: linear-gradient(to right, #ff846e , #ffbc73);
    }
  }

  &.logout {
    background: linear-gradient(to right, #ffbc73 , #ff846e);
    &:hover {
      background: linear-gradient(to right, #ff846e , #ffbc73);
    }
  }
  &.privacy {
    background: linear-gradient(to right, #00c9e5 , #00e5c4);
    &:hover {
      background: linear-gradient(to right, #00e5c4 , #00c9e5);
    }
  }
  &.refresh {
    background: linear-gradient(to right, #ff75dc , #ff7da4);
    &:hover {
      background: linear-gradient(to right, #ff7da4 , #ff75dc);
    }
  }
}

.year-tick {
  position: fixed;
  top: 10px;
  width: 50px;
  text-align: center;
}

.privacy-container {
  padding-top: 15px;
  &.hidden {
    display: none;
  }
}

.privacy-message {
  background-color: #e2e2e2;
  padding: 10px 5px;

  img {
    position: absolute;
    bottom: 4px;
    cursor: pointer;
  }
}
.privacy-message:before {
  border-left: 15px solid transparent;
  border-bottom: 15px solid #e2e2e2;
  border-right: 15px solid transparent;
  content: " ";
  height: 0;
  left: 0;
  margin-top: -6px;
  margin-left: 30px;
  position: absolute;
  top: 50%;
  width: 0;
}

.back-button {
  position: fixed;
  top: 10px;
  left: 70px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.share-friend-message {
  position: fixed;
  width: 500px;
  top: 150px;
  font-size: 35px;
  line-height: 1.2;
  background-color: #fff;
}

.share-friend-message-close {
  font-size: 12px;
  cursor: pointer;
  text-align: right;
  &:hover {
    text-decoration: underline;
  }
}

.y-axis {
  font-size: 14px;
}
.y-axis .tick line {
  stroke: none;
}

.nav_button {
  font-size: 12px;
  float: right;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
  width: 60px;
  height: 30px;

  &.logout {
    background: linear-gradient(to right, #ffbc73 , #ff846e);
    &:hover {
      background: linear-gradient(to right, #ff846e , #ffbc73);
    }
  }
  &.share {
    background: linear-gradient(to right, #00c9e5 , #00e5c4);
    &:hover {
      background: linear-gradient(to right, #00e5c4 , #00c9e5);
    }
  }
  &.refresh {
    background: linear-gradient(to right, #ff75dc , #ff7da4);
    &:hover {
      background: linear-gradient(to right, #ff7da4 , #ff75dc);
    }
  }
}

.line-segment {
  cursor: pointer;
  fill: none;

  &.hidden {
    opacity: 0;
  }
}
.line-segment-overlay {
  fill: none;
  cursor: pointer;
  stroke-width: 10px;
}
.point {
  z-index: 100;
  cursor: pointer;
  stroke-width: 2px;
  // width: 10px;
  // height: 10px;
  &.hidden {
    opacity: 0;
  }
}
.rect-pattern {
  fill: none;
  // fill: #fff;
  stroke-width: 2px;
  // x: 0;
  z-index: 100;
}
.label {
  font-size: 14px;
  stroke-width: 0px;
  fill: black;
  z-index: 100;
}
.label-text {
  z-index: 100;
  fill: black;
  stroke: black;
}
.me {
  stroke-width: 2px;
  stroke: $blue;
}



.name-card {
  font-size: 14px;
  pointer-events: none;
}
.calendar {
  width: 50px;
}
.zoom-button {
  line-height: 30px;
  font-size: 20px;
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  z-index: 1000;
  width: 75px;
  height: 30px;

  &:hover {
    font-size: 14px;
  }

  &.plus {
    right: 30px;
    background: linear-gradient(to right, #ff93ec , #b3c5ff);
    &:hover {
      background: linear-gradient(to right, #b3c5ff , #ff93ec);
    }
  }
  &.minus {
    right: 105px;
    background: linear-gradient(to right, #faff30 , #ffcf4e);
    &:hover {
      background: linear-gradient(to right, #ffcf4e , #faff30);
    }
  }
}
.domain {
  stroke: none;
}


@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; }
}

@mixin animation($name,
                 $delay,
                 $duration,
                 $iteration-count,
                 $timing-function,
                 $fill-mode: false,
                 $transform-origin: false) {

  -webkit-animation-name: $name;
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-iteration-count: $iteration-count;
  -webkit-animation-timing-function: $timing-function;

  -moz-animation-name: $name;
  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-iteration-count: $iteration-count;
  -moz-animation-timing-function: $timing-function;

  -ms-animation-name: $name;
  -ms-animation-delay: $delay;
  -ms-animation-duration: $duration;
  -ms-animation-iteration-count: $iteration-count;
  -ms-animation-timing-function: $timing-function;

  -o-animation-name: $name;
  -o-animation-delay: $delay;
  -o-animation-duration: $duration;
  -o-animation-iteration-count: $iteration-count;
  -o-animation-timing-function: $timing-function;

  @if $fill-mode {
    -webkit-animation-fill-mode: $fill-mode;
    -moz-animation-fill-mode: $fill-mode;
    -ms-animation-fill-mode: $fill-mode;
    -o-animation-fill-mode: $fill-mode;
  }

  @if $transform-origin {
    -webkit-transform-origin: $transform-origin;
    -moz-transform-origin: $transform-origin;
    -ms-transform-origin: $transform-origin;
    -o-transform-origin: $transform-origin;
  }
}

@include keyframes(pulse) {
  from {
    @include transform(scale(1.0));
  }
  50% {
    @include transform(scale(1.2));
  }
  to {
    @include transform(scale(1.0));
  }
}

html, body {
  font-family: Helvetica, Arial, sans-serif;
  min-width: 500px;
  height: 100%;
  margin:0px;
  text-align: center;
  font-size: 14px;
}
#nav {
  height: 30px;
  width: 90px;
  position: fixed;
  right: 0px;
  font-size: 14px;
  z-index: 100;
  opacity: 1;
  @include transition(opacity, 700ms, linear);
}

a {
  color: inherit;
}

.locked {
  display: none;
}

.unlocked {
  display: none;
}

#nav:hover {
  opacity: 1;
}



.friend:hover {
  cursor: pointer;
}
.overlap {
  cursor: pointer;
}
#controls_container {
  position: fixed;
  right: 90px;
  top: 60px;
  z-index: 100;
}

#paper {
  position: absolute;
  z-index: 10;
  top: 0;
}
#home {
  height: 100%;
  background: url('/assets/background.jpg') no-repeat center center fixed;
  @include background-size(cover);
}
.users #home {
  opacity: 0.2;
}
.headline {
  font-family: "Century Gothic","Lucida Grande",Arial,sans-serif;
  font-weight: bold;
  position: fixed;
  font-size: 25px;
  top: 75%;
  left: 35%;
}
#signature {
  font-family: "Century Gothic","Lucida Grande",Arial,sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #fb32a2;
  position: fixed;
  bottom: 15px;
  right: 15px;
}
.extra_space {
  height: 500px;
}
.month_name {
  font-size: 90px;
  float:left;
  margin-left: 100px;
  opacity: .05;
}
.month_year {
  font-size: 90px;
  float:right;
  margin-right: 100px;
  opacity: .05;
}
#info {
  position: absolute;
  z-index: 100;
}


#scroll_message {
  color: #47bad9;
  @include animation(pulse, 0, 0.75s, infinite, linear);
  position: fixed;
  bottom: 5px;
  left: 50%;
  margin-left: -35px;
}

.message {
  display: none;
  position: fixed;
  width: 175px;
  top: 45px;
  right: 50px;
  background: #cccccc;
  z-index: 100;
  padding: 8px;
  font-size: 14px;
}

.message img {
  width: 50px;
  margin-bottom: -20px;
}

.place {
  font-weight: bold;
  font-size: 20px;
}

.shout {
  margin-top: 8px;
  margin-bottom: 8px;
  font-style: italic;
}

.friends {
  font-size: 14px;
}

#reconnect {
  margin: 30px;
  font-size: 20px;
}
.big_text {
  margin-top: 115px;
  font-size: 80px;
}
#toggle-animation {
  display: none;
}
input.switch:empty {
    margin-left: -999px;
}
input.switch:empty ~ label {
    position: relative;
    float: left;
    line-height: 1.6em;
    text-indent: 4em;
    margin: 0.2em 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input.switch:empty ~ label:before, input.switch:empty ~ label:after {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content:' ';
    width: 3.6em;
    background-color: #c33;
    border-radius: 0.7em;
    // box-shadow: inset 0 0.2em 0 rgba(0, 0, 0, 0.3);
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}
input.switch:empty ~ label:after {
    width: 1.4em;
    top: 0.1em;
    bottom: 0.1em;
    margin-left: 0.1em;
    background-color: #fff;
    border-radius: 0.7em;
    // box-shadow: inset 0 -0.2em 0 rgba(0, 0, 0, 0.2);
}
input.switch:checked ~ label:before {
    background-color: #393;
}
input.switch:checked ~ label:after {
    margin-left: 2em;
}
