@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/background-size";
$blue: #47bad9;


.line-segment {
  cursor: pointer;
  fill: none;

  &.hidden {
    opacity: 0;
  }
}
.line-segment-overlay {
  fill: none;
  cursor: pointer;
  stroke-width: 10px;
}
.point {
  z-index: 100;
  cursor: pointer;
  stroke-width: 2px;
  // width: 10px;
  // height: 10px;
  &.hidden {
    opacity: 0;
  }
}
.rect-pattern {
  fill: none;
  // fill: #fff;
  stroke-width: 2px;
  // x: 0;
  z-index: 100;
}
.label {
  font-size: 14px;
  stroke-width: 0px;
  fill: black;
  z-index: 100;
}
.label-text {
  z-index: 100;
  fill: black;
  stroke: black;
}
.me {
  stroke-width: 2px;
  stroke: $blue;
}

.name-card {
  font-size: 14px;
  pointer-events: none;
}
.calendar {
  width: 50px;
  cursor: ns-resize;
}
.zoom-button {
  z-index: 1000;
  fill: #000;
}



@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; }
}

@mixin animation($name,
                 $delay,
                 $duration,
                 $iteration-count,
                 $timing-function,
                 $fill-mode: false,
                 $transform-origin: false) {

  -webkit-animation-name: $name;
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-iteration-count: $iteration-count;
  -webkit-animation-timing-function: $timing-function;

  -moz-animation-name: $name;
  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-iteration-count: $iteration-count;
  -moz-animation-timing-function: $timing-function;

  -ms-animation-name: $name;
  -ms-animation-delay: $delay;
  -ms-animation-duration: $duration;
  -ms-animation-iteration-count: $iteration-count;
  -ms-animation-timing-function: $timing-function;

  -o-animation-name: $name;
  -o-animation-delay: $delay;
  -o-animation-duration: $duration;
  -o-animation-iteration-count: $iteration-count;
  -o-animation-timing-function: $timing-function;

  @if $fill-mode {
    -webkit-animation-fill-mode: $fill-mode;
    -moz-animation-fill-mode: $fill-mode;
    -ms-animation-fill-mode: $fill-mode;
    -o-animation-fill-mode: $fill-mode;
  }

  @if $transform-origin {
    -webkit-transform-origin: $transform-origin;
    -moz-transform-origin: $transform-origin;
    -ms-transform-origin: $transform-origin;
    -o-transform-origin: $transform-origin;
  }
}

@include keyframes(pulse) {
  from {
    @include transform(scale(1.0));
  }
  50% {
    @include transform(scale(1.2));
  }
  to {
    @include transform(scale(1.0));
  }
}

html, body {
  font-family: Helvetica, Arial, sans-serif;
  min-width: 500px;
  height: 100%;
  margin:0px;
  text-align: center;
}
#nav {
  height: 30px;
  width: 100%;
  background: #dcdcdc;
  position: fixed;
  font-size: 14px;
  z-index: 100;
  opacity: 1;
  @include transition(opacity, 700ms, linear);
}

a {
  color: inherit;
}

.locked {
  display: none;
}

.unlocked {
  display: none;
}

#nav:hover {
  opacity: 1;
}

.nav_button {
  font-size: 20px;
  float: right;
  margin-right: 50px;
  cursor: pointer;
}

.friend:hover {
  cursor: pointer;
}
.overlap {
  cursor: pointer;
}
#controls_container {
  position: fixed;
  right: 90px;
  top: 60px;
  z-index: 100;
}

.zoom_button {
  cursor: pointer;
  position: fixed;
  z-index: 100;
  top: 80px;
  width:30px;
  height:30px;
  border-radius:30px;
  border:3px solid;
  font-size: 30px;
  line-height: 27px;
  text-align: center;
  opacity: 0.5;
  @include transition(opacity 200ms linear);
}
.zoom_button:hover{
  opacity: 1;
  border:4px solid;
  margin-right:-1px;
  margin-top: -1px;
}

.zoom_button:active{
  color: #ff0000;
}

.zoom_button[data-zoom="in"] {
  right: 90px;
}
.zoom_button[data-zoom="out"] {
  right: 150px;
}
#paper {
  position: absolute;
  z-index: 10;
  top: 0;
}
#home {
  height: 100%;
  background: url('/assets/background.jpg') no-repeat center center fixed;
  @include background-size(cover);
}
.users #home {
  opacity: 0.2;
}
.headline {
  font-family: "Century Gothic","Lucida Grande",Arial,sans-serif;
  font-weight: bold;
  position: fixed;
  font-size: 25px;
  top: 75%;
  left: 35%;
}
#signature {
  font-family: "Century Gothic","Lucida Grande",Arial,sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #fb32a2;
  position: fixed;
  bottom: 15px;
  right: 15px;
}
.extra_space {
  height: 500px;
}
.month_name {
  font-size: 90px;
  float:left;
  margin-left: 100px;
  opacity: .05;
}
.month_year {
  font-size: 90px;
  float:right;
  margin-right: 100px;
  opacity: .05;
}
#info {
  position: absolute;
  z-index: 100;
}


#scroll_message {
  color: #47bad9;
  @include animation(pulse, 0, 0.75s, infinite, linear);
  position: fixed;
  bottom: 5px;
  left: 50%;
  margin-left: -35px;
}

.message {
  display: none;
  position: fixed;
  width: 175px;
  top: 45px;
  right: 50px;
  background: #cccccc;
  z-index: 100;
  padding: 8px;
  font-size: 14px;
}

.message img {
  width: 50px;
  margin-bottom: -20px;
}

.place {
  font-weight: bold;
  font-size: 20px;
}

.shout {
  margin-top: 8px;
  margin-bottom: 8px;
  font-style: italic;
}

.friends {
  font-size: 14px;
}

#reconnect {
  margin: 30px;
  font-size: 20px;
}
.big_text {
  margin-top: 115px;
  font-size: 80px;
}
#toggle-animation {
  display: none;
}
input.switch:empty {
    margin-left: -999px;
}
input.switch:empty ~ label {
    position: relative;
    float: left;
    line-height: 1.6em;
    text-indent: 4em;
    margin: 0.2em 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input.switch:empty ~ label:before, input.switch:empty ~ label:after {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content:' ';
    width: 3.6em;
    background-color: #c33;
    border-radius: 0.7em;
    // box-shadow: inset 0 0.2em 0 rgba(0, 0, 0, 0.3);
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}
input.switch:empty ~ label:after {
    width: 1.4em;
    top: 0.1em;
    bottom: 0.1em;
    margin-left: 0.1em;
    background-color: #fff;
    border-radius: 0.7em;
    // box-shadow: inset 0 -0.2em 0 rgba(0, 0, 0, 0.2);
}
input.switch:checked ~ label:before {
    background-color: #393;
}
input.switch:checked ~ label:after {
    margin-left: 2em;
}
