#meta{:data => {:page => 'home'}}
#home
  .headline
    Visualize your relationships via Foursquare checkins
    %br
    %a{:href => '/auth/foursquare'}
      %img{:src => '/assets/foursquare-button.png'}