#meta{:data => {:page => 'home'}}
#home
  .headline
    Visualize your relationships via Foursquare checkins
    %br
    %br
    %a{:href => '/auth/foursquare'}
      %img{:src => '/assets/foursquare-button.png'}
  #signature
    made with love by <a href="http://twitter.com/kraykray" target="_blank">kraykray</a>